<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	main{
		padding-left: 2%;
		padding-right: 2%;
	}
	.pages{
		box-shadow: 0px 0px 6px gray;
		border-radius: 3px;
		width: 260px;
	}
	.pages-header{
		border-bottom: 1px solid gray;
		padding: 2% 1% 2% 4%;
	}
	
</style>
<meta charset="UTF-8">
<title>Quiz</title>
</head>
<body>
	<div align="center">
		<header>
			<form>
				<input type="text" placeholder="경로를 적어주세요">
				<input class="urlButton" type="button" value="가져오기">
			</form>
		</header>
		<main>
			<div align="left">
				<div class="pages">
					<div class="pages-header">
						페이지 목록	
					</div>
					<div class="pages-list">
					</div>
				</div>
			</div>
		</main>
		<footer>
		</footer>
	</div>
</body>
<script src="/lib/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
	const dom = document;
	const func = close();
	
	
	dom.querySelector('.urlButton').addEventListener("click",func['getUrl']);
	
	function close(){
		let url;
		function getUrl(){
			url = this.form.children[0].value;
			
			$.ajax({
				url:"pages",
				data:{url:url,token:''},
				type:'get',
				success: function(result){
					console.log(result);
				}
			})
		}
		
		return {
			getUrl:getUrl
		}
	}
	
	


</script>
</html>